/***** Tailwind & Framework *****/
@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  /* Define Custom Brand Color */
  /* Light */
  --brand-primary-50: #EAF9F7;
  --brand-primary-100: #E0F6F3;
  --brand-primary-200: #BFEDE7;
  --brand-primary-300: #2FC4B1;
  --brand-primary-400: #2AB09F;
  --brand-primary-500: #269D8E;
  --brand-primary-600: #239385;
  --brand-primary-700: #1C766A;
  --brand-primary-800: #155850;
  --brand-primary-900: #10453E;

  --brand-secondary-50: #F6EFE9;
  --brand-secondary-100: #F1E7DE;
  --brand-secondary-200: #E2CDBA;
  --brand-secondary-300: #A15F22;
  --brand-secondary-400: #91561F;
  --brand-secondary-500: #79471A;
  --brand-secondary-600: #79471A;
  --brand-secondary-700: #613914;
  --brand-secondary-800: #482B0F;
  --brand-secondary-900: #38210C;

  /* Dark */
  --brand-primary-dark-50: #FEEBE9;
  --brand-primary-dark-100: #FEE1DF;
  --brand-primary-dark-200: #FDC1BC;
  --brand-primary-dark-300: #F93827;
  --brand-primary-dark-400: #E03223;
  --brand-primary-dark-500: #C72D1F;
  --brand-primary-dark-600: #BB2A1D;
  --brand-primary-dark-700: #952217;
  --brand-primary-dark-800: #701912;
  --brand-primary-dark-900: #57140E;

  --brand-secondary-dark-50: #f3f4ff;
  --brand-secondary-dark-100: #e9eafe;
  --brand-secondary-dark-200: #d6d8fe;
  --brand-secondary-dark-300: #b5b6fd;
  --brand-secondary-dark-400: #9d9afb;
  --brand-secondary-dark-500: #685bf7;
  --brand-secondary-dark-600: #5439ee;
  --brand-secondary-dark-700: #4527da;
  --brand-secondary-dark-800: #3a20b7;
  --brand-secondary-dark-900: #311d95;

  --brand-basic: #016b53;
  --brand-dark: #034638;
  --brand-light-1: #00b37f;
  --brand-light-2: #b3ffe9;
  --brand-light-3: #e5fff8;
  --brand-light-4: #eff6f1;
  --brand-secondary-basic: #f09605;
  --brand-secondary-dark: #a46b0e;
  --brand-secondary-light-1: #f1b85b;
  --brand-secondary-light-2: #f5cc8a;
  --brand-secondary-light-3: #fdf5e8;

  /* Black & Gray Colors */
  --custom-black-50: #e8e8e9;
  --custom-black: #001a12;
  --custom-gray-100: #f2f2f2;
  --custom-gray-200: #d9d9d9;
  --custom-gray-300: #bfbfbf;
  --custom-gray-400: #a6a6a6;
  --custom-gray-500: #737373;

  /* Override Nuxt Ui Colors Variables */
  --ui-info: #3b82f6;
  --ui-success: #47b881;
  --ui-warning: #ffad0d;
  --ui-error: #f64c4c;

  --ui-brand-primary: var(--brand-primary-300); /* Custom Color */
  --ui-brand-primary-dark: var(--brand-primary-dark-300); /* Custom Color */
  --ui-brand-secondary: var(--brand-secondary-300); /* Custom Color */
  --ui-brand-secondary-dark: var(--brand-secondary-dark-300); /* Custom Color */

  --ui-brand-primary-50: var(--brand-primary-50); /* Custom Color */
  --ui-brand-primary-100: var(--brand-primary-100); /* Custom Color */
  --ui-brand-primary-200: var(--brand-primary-200); /* Custom Color */
  --ui-brand-primary-300: var(--brand-primary-300); /* Custom Color */
  --ui-brand-primary-400: var(--brand-primary-400); /* Custom Color */
  --ui-brand-primary-500: var(--brand-primary-500); /* Custom Color */
  --ui-brand-primary-600: var(--brand-primary-600); /* Custom Color */
  --ui-brand-primary-700: var(--brand-primary-700); /* Custom Color */
  --ui-brand-primary-800: var(--brand-primary-800); /* Custom Color */
  --ui-brand-secondary-900: var(--brand-secondary-900); /* Custom Color */

  --ui-brand-secondary-50: var(--brand-secondary-50); /* Custom Color */
  --ui-brand-secondary-100: var(--brand-secondary-100); /* Custom Color */
  --ui-brand-secondary-200: var(--brand-secondary-200); /* Custom Color */
  --ui-brand-secondary-300: var(--brand-secondary-300); /* Custom Color */
  --ui-brand-secondary-400: var(--brand-secondary-400); /* Custom Color */
  --ui-brand-secondary-500: var(--brand-secondary-500); /* Custom Color */
  --ui-brand-secondary-600: var(--brand-secondary-600); /* Custom Color */
  --ui-brand-secondary-700: var(--brand-secondary-700); /* Custom Color */
  --ui-brand-secondary-800: var(--brand-secondary-800); /* Custom Color */
  --ui-brand-secondary-900: var(--brand-secondary-900); /* Custom Color */

  --ui-custom-gray-100: var(--custom-gray-100); /* Custom Color */
  --ui-custom-gray-200: var(--custom-gray-200); /* Custom Color */
  --ui-custom-gray-300: var(--custom-gray-300); /* Custom Color */
  --ui-custom-gray-400: var(--custom-gray-400); /* Custom Color */
  --ui-custom-gray-500: var(--custom-gray-500); /* Custom Color */

  /* Override Nuxt Ui Variables */
  --ui-container: 88rem;
}
.dark {
  --ui-brand-primary-50: var(--brand-primary-dark-50);
  --ui-brand-primary-100: var(--brand-primary-dark-100);
  --ui-brand-primary-200: var(--brand-primary-dark-200);
  --ui-brand-primary-300: var(--brand-primary-dark-300);
  --ui-brand-primary-400: var(--brand-primary-dark-400);
  --ui-brand-primary-500: var(--brand-primary-dark-500);
  --ui-brand-primary-600: var(--brand-primary-dark-600);
  --ui-brand-primary-700: var(--brand-primary-dark-700);
  --ui-brand-primary-800: var(--brand-primary-dark-800);
  --ui-brand-primary-900: var(--brand-primary-dark-900);

  --ui-brand-secondary-50: var(--brand-secondary-dark-50);
  --ui-brand-secondary-100: var(--brand-secondary-dark-100);
  --ui-brand-secondary-200: var(--brand-secondary-dark-200);
  --ui-brand-secondary-300: var(--brand-secondary-dark-300);
  --ui-brand-secondary-400: var(--brand-secondary-dark-400);
  --ui-brand-secondary-500: var(--brand-secondary-dark-500);
  --ui-brand-secondary-600: var(--brand-secondary-dark-600);
  --ui-brand-secondary-700: var(--brand-secondary-dark-700);
  --ui-brand-secondary-800: var(--brand-secondary-dark-800);
  --ui-brand-secondary-900: var(--brand-secondary-dark-900);
}

/***** Make Custom Design Tokens Available As Tailwind Classes *****/
@theme static {
  --color-brand-primary-50: var(--brand-primary-50);
  --color-brand-primary-100: var(--brand-primary-100);
  --color-brand-primary-200: var(--brand-primary-200);
  --color-brand-primary-300: var(--brand-primary-300);
  --color-brand-primary-400: var(--brand-primary-400);
  --color-brand-primary-500: var(--brand-primary-500);
  --color-brand-primary-600: var(--brand-primary-600);
  --color-brand-primary-700: var(--brand-primary-700);
  --color-brand-primary-800: var(--brand-primary-800);
  --color-brand-primary-900: var(--brand-primary-900);

  --color-brand-primary-dark-50: var(--brand-primary-dark-50);
  --color-brand-primary-dark-100: var(--brand-primary-dark-100);
  --color-brand-primary-dark-200: var(--brand-primary-dark-200);
  --color-brand-primary-dark-300: var(--brand-primary-dark-300);
  --color-brand-primary-dark-400: var(--brand-primary-dark-400);
  --color-brand-primary-dark-500: var(--brand-primary-dark-500);
  --color-brand-primary-dark-600: var(--brand-primary-dark-600);
  --color-brand-primary-dark-700: var(--brand-primary-dark-700);
  --color-brand-primary-dark-800: var(--brand-primary-dark-800);
  --color-brand-primary-dark-900: var(--brand-primary-dark-900);

  --color-brand-secondary-50: var(--brand-secondary-50);
  --color-brand-secondary-100: var(--brand-secondary-100);
  --color-brand-secondary-200: var(--brand-secondary-200);
  --color-brand-secondary-300: var(--brand-secondary-300);
  --color-brand-secondary-400: var(--brand-secondary-400);
  --color-brand-secondary-500: var(--brand-secondary-500);
  --color-brand-secondary-600: var(--brand-secondary-600);
  --color-brand-secondary-700: var(--brand-secondary-700);
  --color-brand-secondary-800: var(--brand-secondary-800);
  --color-brand-secondary-900: var(--brand-secondary-900);

  --color-brand-secondary-dark-50: var(--brand-secondary-dark-50);
  --color-brand-secondary-dark-100: var(--brand-secondary-dark-100);
  --color-brand-secondary-dark-200: var(--brand-secondary-dark-200);
  --color-brand-secondary-dark-300: var(--brand-secondary-dark-300);
  --color-brand-secondary-dark-400: var(--brand-secondary-dark-400);
  --color-brand-secondary-dark-500: var(--brand-secondary-dark-500);
  --color-brand-secondary-dark-600: var(--brand-secondary-dark-600);
  --color-brand-secondary-dark-700: var(--brand-secondary-dark-700);
  --color-brand-secondary-dark-800: var(--brand-secondary-dark-800);
  --color-brand-secondary-dark-900: var(--brand-secondary-dark-900);

  --color-custom-gray-100: var(--custom-gray-100);
  --color-custom-gray-200: var(--custom-gray-200);
  --color-custom-gray-300: var(--custom-gray-300);
  --color-custom-gray-400: var(--custom-gray-400);
  --color-custom-gray-500: var(--custom-gray-500);

  --font-custom-light: 'NeoSansArabic Light', sans-serif;
  --font-custom-normal: 'NeoSansArabic Regular', sans-serif;
  --font-custom-medium: 'NeoSansArabic Medium', sans-serif;
  --font-custom-bold: 'NeoSansArabic Bold', sans-serif;

  --breakpoint-lg: 64.5rem;

  --gradient-1: to top, #84bd00, #006a52;
  /* --bg-gradient-2: 110deg, #77BABB, #6EACB2, #67A1AA, #5A8E9E, #4F7C93, #538296, #4C778F, #436A87, #3F6383, #2A446F; */

  /* custom tailwind animations */
  --animate-slide-right: slide_right 1s ease-in-out;
  @keyframes slide_right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-slide-left: slide_left 1s ease-in-out;
  @keyframes slide_left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/***** Global Styles *****/
@layer base {
  /* Remove the background color when autocomplete is active */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
  }

  /* Remove the yellow background in Chrome/Safari */
  input:-webkit-autofill {
    background-color: transparent !important;
  }

  html {
    @apply font-custom-normal;
    overflow-x: hidden;
  }

  body {
    @apply bg-brand-secondary-50 dark:bg-brand-primary-dark-800
  }

  * {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      @apply w-1.5 h-1.5;
    }

    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-brand-primary-300 rounded-2xl;
    }

    &::selection {
      @apply bg-brand-primary-300 text-white;
    }
  }
}

/***** Custom Animations *****/
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s linear;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
}

.slideLeft-enter-active,
.slideLeft-leave-active {
  transition: transform 0.5s linear;
}

.slideLeft-enter-from,
.slideLeft-leave-to {
  transform: translateX(100%);
}

.slideRight-enter-active,
.slideRight-leave-active {
  transition: transform 0.5s linear;
}

.slideRight-enter-from,
.slideRight-leave-to {
  transform: translateX(-100%);
}
